<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/layout.html}">
<body>
<div layout:fragment="content">
    <div class="container">

        <div class="container-fluid p-4">
            <!-- Cards -->
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card p-3">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="card-title mb-2">Количество заказов</h5>
                                <i class="ti ti-basket"></i>
                            </div>
                            <h6 class="card-subtitle mb-2 text-muted" id="total-orders">Loading...</h6>
                            <p class="card-text" id="today-orders">Loading...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card p-3">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="card-title mb-2">Общая сумма продаж</h5>
                                <i class="bi bi-currency-dollar"></i>
                            </div>
                            <h6 class="card-subtitle mb-2 text-muted" id="total-sales">Loading...</h6>
                            <p class="card-text" id="last-week-sales">Loading...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card p-3">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="card-title mb-2">Всего пользователей</h5>
                                <i class="bi bi-people"></i>
                            </div>
                            <h6 class="card-subtitle mb-2 text-muted" id="total-customers">Loading...</h6>
                            <p class="card-text" id="today-customers">Loading...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card p-3">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="card-title mb-2">Активных пользователей</h5>
                                <i class="bi bi-person-check"></i>
                            </div>
                            <h6 class="card-subtitle mb-2 text-muted" id="active-users">Loading...</h6>
                            <p class="card-text" id="changes-last-week">Loading...</p>
                        </div>
                    </div>
                </div>
            </div>

            <script th:inline="javascript">
                let basePath = '[[@{/}]]'.replaceAll("\"", "");

                document.addEventListener("DOMContentLoaded", function () {
                    function fetchData() {
                        fetch('orders/statistic')
                            .then(response => response.json())
                            .then(data => {
                                document.getElementById('total-orders').textContent = data;
                            })
                            .catch(() => {
                                document.getElementById('total-orders').textContent = '0';
                            });

                        fetch('orders/today')
                            .then(response => response.json())
                            .then(data => {
                                document.getElementById('today-orders').textContent = '+' + data;
                            })
                            .catch(() => {
                                document.getElementById('today-orders').textContent = '+0';
                            });

                        fetch('customers')
                            .then(response => response.json())
                            .then(data => {
                                document.getElementById('total-customers').textContent = data;
                            })
                            .catch(() => {
                                document.getElementById('total-customers').textContent = '0';
                            });

                        fetch('customers/daily')
                            .then(response => response.json())
                            .then(data => {
                                document.getElementById('today-customers').textContent = '+' + data;
                            })
                            .catch(() => {
                                document.getElementById('today-customers').textContent = '+0';
                            });

                        document.getElementById('active-users').textContent = 'N/A';
                        document.getElementById('changes-last-week').textContent = 'N/A';
                        fetch('orders/total-sales')
                            .then(response => response.json())
                            .then(data => {
                                document.getElementById('total-sales').textContent = data;
                            })
                            .catch(() => {
                                document.getElementById('total-sales').textContent = '0';
                            });

                        fetch('customers/active')
                            .then(response => response.json())
                            .then(data => {
                                document.getElementById('active-users').textContent = data;
                            })
                            .catch(() => {
                                document.getElementById('active-users').textContent = '0';
                            });

                        fetch('customers/active/changes')
                            .then(response => response.json())
                            .then(data => {
                                const formattedData = data >= 0 ? '+' + data : data;
                                document.getElementById('changes-last-week').textContent = formattedData;
                            })
                            .catch(() => {
                                document.getElementById('changes-last-week').textContent = '0';
                            });

                        fetch('orders/sales-last-week')
                            .then(response => response.json())
                            .then(data => {
                                document.getElementById('last-week-sales').textContent = data;
                            })
                            .catch(() => {
                                document.getElementById('last-week-sales').textContent = '0';
                            });
                    }

                    fetchData();
                    setInterval(fetchData, 30000);
                });
            </script>

            <!-- Charts -->

            <div class="row">
                <div class="col-lg-8 mb-4">
                    <div class="card p-3">
                        <div class="card-body">
                            <h5 class="card-title">График продаж</h5>
                            <canvas id="salesChart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card p-3">
                        <div class="card-body">
                            <h5 class="card-title">Топ услуги</h5>
                            <canvas id="topProductsChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function () {
                    const quantity = 5;
                    const topN = 3;
                    const months = 6;

                    function getRandomColor() {
                        const letters = '0123456789ABCDEF';
                        let color = '#';
                        for (let i = 0; i < 6; i++) {
                            color += letters[Math.floor(Math.random() * 16)];
                        }
                        return color;
                    }

                    $.ajax({
                        url: 'chart',
                        type: 'GET',
                        data: {
                            quantity: quantity,
                            months: months
                        },
                        success: function (data) {
                            const labels = data.labels;
                            const datasets = [];

                            Object.keys(data.datasets).forEach(function (cleaningName) {
                                datasets.push({
                                    label: cleaningName,
                                    data: data.datasets[cleaningName],
                                    borderColor: getRandomColor(),
                                    backgroundColor: 'rgba(0, 0, 0, 0)',
                                    borderWidth: 2,
                                    fill: false
                                });
                            });

                            const salesCtx = document.getElementById('salesChart').getContext('2d');
                            const salesChart = new Chart(salesCtx, {
                                type: 'line',
                                data: {
                                    labels: labels,
                                    datasets: datasets
                                },
                                options: {
                                    responsive: true,
                                    plugins: {
                                        legend: {
                                            position: 'top',
                                        },
                                        title: {
                                            display: false,
                                            text: 'Количество заказов по услугам за последние ' + months + ' месяцев'
                                        }
                                    },
                                    scales: {
                                        y: {
                                            beginAtZero: true,
                                            title: {
                                                display: true,
                                                text: 'Количество заказов'
                                            }
                                        },
                                        x: {
                                            title: {
                                                display: true,
                                                text: 'Месяцы'
                                            }
                                        }
                                    }
                                }
                            });
                        },
                        error: function (error) {
                            console.error('Error fetching sales chart:', error);
                        }
                    });

                    $.ajax({
                        url: 'top',
                        type: 'GET',
                        data: {
                            topN: topN,
                            months: months
                        },
                        success: function (data) {
                            const labels = data.map(cleaning => cleaning.name);
                            const percentages = data.map(cleaning => cleaning.percentage);
                            const backgroundColors = labels.map(() => getRandomColor());

                            const ctx = document.getElementById('topProductsChart').getContext('2d');
                            const topProductsChart = new Chart(ctx, {
                                type: 'doughnut',
                                data: {
                                    labels: labels,
                                    datasets: [{
                                        data: percentages,
                                        backgroundColor: backgroundColors,
                                        borderColor: '#ffffff',
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    responsive: true,
                                    plugins: {
                                        legend: {
                                            position: 'top',
                                        },
                                        title: {
                                            display: false,
                                            text: 'Доля топ ' + topN + ' услуг по количеству заказов за последние ' + months + ' месяцев'
                                        },
                                        tooltip: {
                                            callbacks: {
                                                label: function (context) {
                                                    let label = context.label || '';
                                                    if (label) {
                                                        label += ': ';
                                                    }
                                                    if (context.raw !== null) {
                                                        label += Math.round(context.raw * 100) / 100 + '%';
                                                    }
                                                    return label;
                                                }
                                            }
                                        }
                                    }
                                }
                            });
                        },
                        error: function (error) {
                            console.error('Error fetching top cleanings:', error);
                        }
                    });
                });
            </script>

            <!-- Table -->
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="fw-bold">Заказы</h4>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">Дата</th>
                                <th class="text-center">Длительность</th>
                                <th class="text-center">Цена</th>
                                <th class="text-center">Статус</th>
                                <th class="text-center">Клиент</th>
                            </tr>
                            </thead>
                            <tbody id="table-body">
                            <!-- Data will be loaded here -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Script to load table data -->
            <script th:inline="javascript">
                document.addEventListener('DOMContentLoaded', () => {
                    loadOrdersData();
                });

                async function loadOrdersData() {
                    try {
                        const response = await fetch(`${basePath}order/getAllOrdersLastWeek?page=0&size=1000&search=`);
                        if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }
                        const data = await response.json();
                        const tableBody = document.getElementById('table-body');
                        tableBody.innerHTML = '';

                        data.content.forEach(order => {
                            const row = `
                                <tr>
                                    <td class="text-center">${order.id}</td>
                                    <td class="text-center">${formatDate(order.startDate)} ${formatTime(order.startTime)}</td>
                                    <td class="text-center">${formatDuration(order.totalDuration)}</td>
                                    <td class="text-center">${order.price}</td>
                                    <td class="text-center">${order.status}</td>
                                    <td class="text-center">${order.customerName}</td>
                                </tr>`;
                            tableBody.innerHTML += row;
                        });

                        if (data.content.length === 0) {
                            tableBody.innerHTML = `<tr><td colspan="6" class="text-center">Нет данных</td></tr>`;
                        }

                    } catch (error) {
                        console.error("Ошибка при загрузке данных:", error);
                        showToast('error', 'Ошибка', "Ошибка при загрузке данных");
                    }
                }

                function formatDate(dateArray) {
                    if (Array.isArray(dateArray) && dateArray.length === 3) {
                        const year = dateArray[0];
                        const month = String(dateArray[1]).padStart(2, '0');
                        const day = String(dateArray[2]).padStart(2, '0');
                        return `${year}-${month}-${day}`;
                    }
                    return '';
                }

                function formatTime(timeArray) {
                    if (Array.isArray(timeArray) && timeArray.length >= 2) {
                        const hours = String(timeArray[0]).padStart(2, '0');
                        const minutes = String(timeArray[1]).padStart(2, '0');
                        return `${hours}:${minutes}`;
                    }
                    return '';
                }

                function formatDuration(duration) {
                    if (duration) {
                        const totalSeconds = Math.round(duration);
                        const hours = Math.floor(totalSeconds / 3600);
                        const minutes = Math.floor((totalSeconds % 3600) / 60);
                        return `${hours} ч ${minutes} мин`;
                    }
                    return '';
                }
            </script>
        </div>
    </div>
</div>
</body>
</html>